#background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -50;
}

body {
    color: yellow;
    padding-top: 50px;
}

.navbar-inverse .navbar-brand {
    color: yellow;
}

.header {
    padding: 50px 0;
    text-align:center;
    vertical-align: middle;
    font-size: 64px;
    font-weight: bold;
}

.hero .panel {
    background: none;
    color: #FFFF00;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    text-align: center;
    margin: -50px 0 0 -150px;
    font-weight: bold;
}

footer {
    text-align: center;
}
