@{
    ViewBag.Title = "Home Page";
}

<div class="header">JEDI TOURNAMENT</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Gérer les Jedis</h2>
            <button class="btn btn-default" href="/Jedi/Index">Add</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida felis eget sem sodales, laoreet viverra eros laoreet. Nullam iaculis maximus finibus. Vivamus volutpat neque ut lorem aliquam, non scelerisque magna dapibus. Quisque id aliquam justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam porta nisi ac blandit rhoncus. Nullam ornare sagittis arcu ac vestibulum. Suspendisse mattis facilisis augue, sed imperdiet leo fermentum at. Maecenas placerat dictum ipsum in consequat. Quisque ut nibh nisi. Duis dignissim dolor id magna luctus, eget congue justo sagittis.</p>
        </div>
        <div class="col-md-6">
            <h2>Gérer les stades</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida felis eget sem sodales, laoreet viverra eros laoreet. Nullam iaculis maximus finibus. Vivamus volutpat neque ut lorem aliquam, non scelerisque magna dapibus. Quisque id aliquam justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam porta nisi ac blandit rhoncus. Nullam ornare sagittis arcu ac vestibulum. Suspendisse mattis facilisis augue, sed imperdiet leo fermentum at. Maecenas placerat dictum ipsum in consequat. Quisque ut nibh nisi. Duis dignissim dolor id magna luctus, eget congue justo sagittis.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Gérer les Matchs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida felis eget sem sodales, laoreet viverra eros laoreet. Nullam iaculis maximus finibus. Vivamus volutpat neque ut lorem aliquam, non scelerisque magna dapibus. Quisque id aliquam justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam porta nisi ac blandit rhoncus. Nullam ornare sagittis arcu ac vestibulum. Suspendisse mattis facilisis augue, sed imperdiet leo fermentum at. Maecenas placerat dictum ipsum in consequat. Quisque ut nibh nisi. Duis dignissim dolor id magna luctus, eget congue justo sagittis..</p>
        </div>
        <div class="col-md-6">
            <h2>Gérer les Tournois</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida felis eget sem sodales, laoreet viverra eros laoreet. Nullam iaculis maximus finibus. Vivamus volutpat neque ut lorem aliquam, non scelerisque magna dapibus. Quisque id aliquam justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam porta nisi ac blandit rhoncus. Nullam ornare sagittis arcu ac vestibulum. Suspendisse mattis facilisis augue, sed imperdiet leo fermentum at. Maecenas placerat dictum ipsum in consequat. Quisque ut nibh nisi. Duis dignissim dolor id magna luctus, eget congue justo sagittis.</p>
        </div>
    </div>
</div>