
@{
    ViewBag.Title = "Resultat";
}

<h2>@ViewBag.Title</h2>

<p>Tournoi  : @ViewBag.Tournoi.Nom<br/>
   Jedi     : @ViewBag.Jedi.Nom</p>
@if(ViewBag.HasWin)
{
    <p class="h1 text-success">Gagné !</p>
} else
{
    <p class="h1 text-danger">Perdu !</p>
}

