
@{
    ViewBag.Title = "Liste des Tournois";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Nom</td>
        <td> Nombre de Matchs</td>
    </tr>
    @foreach (var tournoi in ViewBag.Tournois)
    {
        <tr>
            <td>@tournoi.ID</td>
            <td>@tournoi.Nom</td>
            <td>
                @if(tournoi.Matchs!=null)
                {
                    @tournoi.Matchs.Length;
                }
                else
                {
                    <span>0</span>
                }
            </td>
        </tr>
    }
</table>